[submodule "vim"]
	path = vim
	url = git@github.com:umasstransit/vimfiles.git
[submodule "bundle/chef"]
	path = bundle/chef
	url = https://github.com/t9md/vim-chef.git
[submodule "bundle/latex"]
	path = bundle/latex
	url = git://github.com/mineiro/vim-latex.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = git://github.com/rstacruz/sparkup.git
